.green-status {
    background-color: #d4edda;
    color: #155724;
}

.red-status {
    background-color: #f8d7da;
    color: #721c24;
}

.meio-green-status {
    background-color: #fff3cd;
    color: #856404;
}

.meio-red-status {
    background-color: #d1ecf1;
    color: #0c5460;
}

.devolvida-status, .cashout-status, .pre-live-status {
    background-color: #e2e3e5;
    color: #383d41;
}