<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Apostas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<div class="container">
    <h2>Lista de Apostas</h2>
    <p th:text="'Seu saldo é: ' + ${saldo.bancaFinal}"></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Data</th>
            <th>Evento</th>
            <th>Mercado</th>
            <th>Grupo</th>
            <th>Odd</th>
            <th>Unidade</th>
            <th>Valor</th>
            <th>Percentual Investido</th>
            <th>Status</th>
            <th>Retorno</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aposta : ${apostas}">
            <td th:text="${#temporals.format(aposta.dataHora, 'dd/MM/yyyy')}"></td>
            <td th:text="${aposta.evento}"></td>
            <td th:text="${aposta.mercado}"></td>
            <td th:text="${aposta.grupo}"></td>
            <td th:text="${aposta.odd}"></td>
            <td th:text="${aposta.unidade}"></td>
            <td th:text="${aposta.valor}"></td>
            <td th:text="${aposta.percentInvestido}"></td>
            <td>
                <form th:action="@{/apostas/atualizarStatus/{id}(id=${aposta.id})}" method="post" class="statusForm">
                    <select name="statusAposta" class="form-control status-select" data-aposta-id="${aposta.id}" onchange="toggleRetornoManual(this)">
                        <option th:selected="${aposta.statusAposta == 'Green'}" th:value="'Green'">Green</option>
                        <option th:selected="${aposta.statusAposta == 'Red'}" th:value="'Red'">Red</option>
                        <option th:selected="${aposta.statusAposta == 'Devolvida'}" th:value="'Devolvida'">Devolvida</option>
                        <option th:selected="${aposta.statusAposta == 'Cashout'}" th:value="'Cashout'">Cashout</option>
                        <option th:selected="${aposta.statusAposta == 'Meio Green'}" th:value="'Meio Green'">Meio Green</option>
                        <option th:selected="${aposta.statusAposta == 'Meio Red'}" th:value="'Meio Red'">Meio Red</option>
                        <option th:selected="${aposta.statusAposta == 'Pré Live'}" th:value="'Pré Live'">Pré Live</option>
                    </select>
                    <input type="number" step="0.01" name="retornoManual" class="form-control mt-2" th:if="${aposta.statusAposta == 'Cashout'}" placeholder="Valor de Retorno" onblur="submitForm(this)" />
                </form>
            </td>
            <td th:text="${aposta.retornoAposta}"></td>
            <td>
                <a th:href="@{'/apostas/editar/' + ${aposta.id}}" class="btn btn-warning">Editar</a>
                <a th:href="@{'/apostas/deletar/' + ${aposta.id}}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/apostas/nova">
        <button type="button" class="btn btn-primary">Nova aposta</button>
    </a>
</div>

<script>
    function toggleRetornoManual(selectElement) {
        const form = selectElement.closest('form');
        const retornoManualInput = form.querySelector('input[name="retornoManual"]');

        if (selectElement.value === 'Cashout') {
            if (!retornoManualInput) {
                const input = document.createElement('input');
                input.type = 'number';
                input.step = '0.01';
                input.name = 'retornoManual';
                input.className = 'form-control mt-2';
                input.placeholder = 'Valor de Retorno';
                input.onblur = function() { submitForm(this); };
                form.appendChild(input);
            }
        } else {
            if (retornoManualInput) {
                form.removeChild(retornoManualInput);
            }
        }
    }

    function submitForm(inputElement) {
        const form = inputElement.closest('form');
        form.submit();
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.status-select').forEach(selectElement => {
            toggleRetornoManual(selectElement);
        });
    });
</script>
</body>
</html>